#agendaTel{
    font-family: 'Dancing Script',sans-serif;
    font-size: 90px;
    color: #ffffff;
}
#agendaTel1{
    font-family: 'Dancing Script',sans-serif;
    font-size: 70px;
    color: #ffffff;
}

body{
    height: 100%;
    background: #c094e9 url('asset/img/fondo\ pantalla.png');
    /* background: linear-gradient(135deg, #94bbe9 23%, rgb(255, 125, 244) 100%);  */
}

#agendaTel{
    height: 15vh;
    width: 100vh;
    margin: 2rem auto;
}


#agendaTel1{
    height: 0vh;
    width: 100vh;
    margin: 50px auto;
}

.formulario-datos{
    font-size: 25px;
    font-family: 'Jost';

}

.input1{
    border-radius: 10px;
    border: 1px #7129b4 solid;

}

#buttonEle{
    font-size: 25px;
    border: 1px #7129b4 solid;
    border-radius: 10px;
    background-color: #e5a0f7;
    font-family: 'Jost';
}

.table{
    border-collapse: separate;
    border-spacing: 10;
    border: 1px solid rgb(162, 53, 172);
    border-radius: 15px;
    -moz-border-radius: 20px;
    padding: 2px;
}